/* Maximum Resolution
=============================================================*/

/* Extra small devices (phones, 480px)
---------------------------------------------------*/
@media (max-width: 320px) { 

}

@media (max-width: 480px) { 
#campaign .campaign-inner .donate-section .donate-now .donate-button a.btn.btn-primary{background-size:25px; background-position:10px 20px; font-size:25px; padding-left:40px;}
#campaign .campaign-inner .donate-section .donate-bottom .don-bot{font-size:10px;}
#signup-box .sign-in-inner .sign-in .btn.btn-primary{width:100%;}
#signup-box .sign-in-inner .sign-in .btn.btn-primary,#sign-in .sign-in-inner .sign-in .btn.btn-primary{width:100%;}
#sign-in .sign-in-inner .sign-in .btn.btn-primary{font-size:15px;}
}
@media (max-width: 639px) { 
 #signup-box .sign-in-inner,#sign-in .sign-in-inner{margin:0 2%; width:96%;}
 .accont-veryfication{margin:0 2%; width:96% !important;}
}


/* Small devices (tablets, 768px and below)
---------------------------------------------------*/
@media (max-width: 767px) {
header .navbar .navbar-nav > li > a.btn.btn-primary{margin:10px 5px 5px 5px;}
header .navbar .navbar-nav > li form #custom-search-input{padding:0 10px;}
header .navbar .navbar-nav > li{margin-left:0;}
#campaign .campaign-inner .campaign-comment .comment-area .comment-list ul li .user-img{float:none; margin-bottom:10px;}
#campaign .campaign-inner .campaign-comment .comment-area .comment-list ul li .user-text{padding-left:0;}
#campaign .campaign-inner .campaign-comment .comment-area{padding:0;}
#campaign .campaign-inner .donate-section .donate-now .donate-button a.btn.btn-primary{margin-bottom:20px;}
#account-confirmation .acc-confr-inner .account-form-cont{border:none; padding-left:10px;}
}

/* Medium devices (desktops, 992px and below)
---------------------------------------------------*/
@media (max-width: 991px) { 
 

}

@media (max-width: 1015px) {
 	
}

/* Large devices (large desktops, 1200px and below)
---------------------------------------------------*/
@media (max-width: 1200px) { 


}


/* Minimum Resolution
=============================================================*/

/* Extra small devices (phones, 480px)
---------------------------------------------------*/
@media (min-width: 480px) { 
 
}

/* Small devices (tablets, 768px and up)
---------------------------------------------------*/
@media (min-width: 768px) { 
  
  
}

/* Medium devices (desktops, 992px and up)
---------------------------------------------------*/
@media (min-width: 992px) { 
header .navbar .navbar-nav > li{margin-left:6px; margin-right:6px;}
header .navbar .navbar-nav > li > a.btn.btn-primary{margin-top:2px; margin-left:16px;}
.pd_ft30{padding-left:30px;}
header .navbar-right .dropdown-menu {top:53px;}
header .navbar-default .navbar-nav > li > a.dropdown-toggle {cursor: pointer;}
}

/* Large devices (large desktops, 1200px and up)
---------------------------------------------------*/
@media (min-width: 1200px) { 


}


/* Max and Min Resolution
=============================================================*/

/* Small devices (tablets, 640px and 767px)
---------------------------------------------------*/
@media (min-width: 640px) and (max-width: 767px) {
 
}

/* Tablets (768px and 991px)
---------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
header .navbar .navbar-nav > li > a{padding-left:5px; padding-right:5px; font-size:13px;}
 
}

/* Desktop (992px and 1199px )
---------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/* Large Desktop (1200px and up )
---------------------------------------------------*/
@media (min-width:1200px) {
	
}






